#controller {
    background-color: #F5F5F5;
    min-width: 300px;;
    width: 15%;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    display: block grid;
    border-radius: 8px;
  }

  #showFilters {
    width: 98%;
    margin: 1%;
    height: 25px;
  }


  #dateController {
    background-color: rgb(170, 170, 187);

    display: grid;
    margin-top: 2%;
    margin-right: 1%;


  }

  #AnimationOptions {
    display: block grid;
  }


  .MultiSelect {
    width: 99%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .FilterText {
    text-align: center;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #CurrentDateTime{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
  }

  .button {
    border-radius: 8px;
    border-style: none;
    background-color: rgb(190, 198, 202);
    margin: 1%;
    font-size:medium;
  }

  .button:hover {
    background-color: #5759c5; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  .playback-button {
    border-radius: 8px;
    background-color: rgb(190, 198, 202);
    border-style: none;
    margin: 1%;
    font-size: large;
  }
  .playback-button:hover {
    background-color: #5759c5; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }




  #filterOptions {
    display: grid;
  }

  #clearColor {
    color:rgb(173, 216, 230)
  }

  #playback-controller {
    text-align: center;
    align-content: center;
  }

  #Actions {
    display: block;
  }

  #curt {
    color: rgb(225, 225, 225);
  }

  #GenCheckbox {
    display: inline;
    float: left;
  }

  #flowCheckbox {
    display: inline;
    float: left
  }

  #Dispatch {

    text-align: center;
    font-size: x-large;
    float: right;
    width: 20%;
    height: 40%;
    border-radius: 8px;
    margin: 1%;

  }


  #dispatchChart {
    border-radius: 8px;
    width: 98%;
    height: 98%;
  }

  #dispatchChart2 {
    background-color: rgba(145, 145, 145, 0.432);
    border-radius: 8px;
    width: 98%;
  }


  #TimeseriesContainer {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 20%;
  }

  #timeseriesChart {
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }

  #seriesChart{
    background-color: rgba(145, 145, 145, 0.432);
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }


  #LDCButton {
    float: left;
    margin: 0%;
  }

  #timeseriesButtons {
    display: inline;
  }