
#Tray {

    height: 100%;
    margin-left: 0.1%;
    display: flex;


}

#TrayComponents {

    height: fit-content;
    width: fit-content;
    display: grid;
    margin: 1%;
    background-color: rgb(207, 206, 206);
}

#trayButtons {
    width: fit-content;
    height: 100%;

    display: block;
    margin-top: 0.1%;
    margin-right: 1%;

}

.trayButtonContainer {

    margin-top: 1%;
}

.trayComponent {

    width: fit-content;
    height: fit-content;
    display: inline-block flow;
    border-color: #d44811;
    background-color: rgb(78, 78, 78);
    border-width:1px;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: middle;
    text-align: center;
}

.trayText {
    float: left;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color:#e9e4e2;
    margin: 3%;
    vertical-align: middle;
    text-align: left;
}



.trayButton {
    border-radius: 8px;
    border-style: none;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: 1%;
    width: inherit;
    height:inherit;
}


.trayButton:hover {
    background-color: #5759c5; /* Green */
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }